In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from sklearn.model_selection import train_test_split

In [6]:
train_df = pd.read_csv("../data/train.csv")
test_df  = pd.read_csv("../data/test.csv")

# Create a validation split since validation.csv is not present
train_df, val_df = train_test_split(
    train_df,
    test_size=0.2,
    random_state=42,
    shuffle=True,
    stratify=train_df["language"] if "language" in train_df.columns else None,
 )

print("Train:", train_df.shape)
print("Validation:", val_df.shape)
print("Test:", test_df.shape)

train_df.head()

Train: (1248, 3)
Validation: (313, 3)
Test: (4, 5)

,oare_id,transliteration,translation
1452,ee4f5237-f729-4424-9164-727dcd9fb8f2,um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-...,"Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiy..."
1239,c5670aba-105b-40b5-bac1-12bc43a51091,2 ma-na KÙ.BABBAR ší-im-tum ša ṭup-pí-šu ḫa-ar...,"2 minas of silver, the agreed amount of his ce..."
774,7ad105d4-158e-457d-955b-b9f6b68d212c,a-na ku-ku-a LUGAL-sú-in a-gi-a ù en-nam-a-šur...,"To Kukuwa, Šar-Suen, Agiya and Ennam-Aššur fro..."
1260,c9ae599d-8d56-4b81-be61-4a1edadc00b6,14 GÚ URUDU SIG₅ ša-bu-ra-am i-ṣé-er i-dí-a-šu...,"Iddin-Aššur son of Dan-Aššur, Puzur-Ištar, his..."
858,870b143f-9c29-499b-8c6e-c0ed2be5eea8,ṭup-pu-ú ša ni-iš a-lim(ki) ku-nu-uk ba-ší,Tablets with oaths by the City.

In [7]:
# Rename columns to standard names used throughout the project
train_df = train_df.rename(columns={
    "transliteration": "source",
    "translation": "target"
})

test_df = test_df.rename(columns={
    "transliteration": "source"
})

train_df.head()

,oare_id,source,target
1452,ee4f5237-f729-4424-9164-727dcd9fb8f2,um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-...,"Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiy..."
1239,c5670aba-105b-40b5-bac1-12bc43a51091,2 ma-na KÙ.BABBAR ší-im-tum ša ṭup-pí-šu ḫa-ar...,"2 minas of silver, the agreed amount of his ce..."
774,7ad105d4-158e-457d-955b-b9f6b68d212c,a-na ku-ku-a LUGAL-sú-in a-gi-a ù en-nam-a-šur...,"To Kukuwa, Šar-Suen, Agiya and Ennam-Aššur fro..."
1260,c9ae599d-8d56-4b81-be61-4a1edadc00b6,14 GÚ URUDU SIG₅ ša-bu-ra-am i-ṣé-er i-dí-a-šu...,"Iddin-Aššur son of Dan-Aššur, Puzur-Ištar, his..."
858,870b143f-9c29-499b-8c6e-c0ed2be5eea8,ṭup-pu-ú ša ni-iš a-lim(ki) ku-nu-uk ba-ší,Tablets with oaths by the City.

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train_df, val_df = train_test_split(
    train_df,
    test_size=0.2,
    random_state=42,
    shuffle=True
)

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load Kaggle CSV files
train_df = pd.read_csv("../data/train.csv")
test_df  = pd.read_csv("../data/test.csv")

# Rename columns to standard names
train_df = train_df.rename(columns={
    "transliteration": "source",
    "translation": "target"
})

test_df = test_df.rename(columns={
    "transliteration": "source"
})

# Create validation split
train_df, val_df = train_test_split(
    train_df,
    test_size=0.2,
    random_state=42,
    shuffle=True
)

print("Train:", train_df.shape)
print("Validation:", val_df.shape)
print("Test:", test_df.shape)

train_df.head()

Train: (1248, 3)
Validation: (313, 3)
Test: (4, 5)

,oare_id,source,target
1452,ee4f5237-f729-4424-9164-727dcd9fb8f2,um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-...,"Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiy..."
1239,c5670aba-105b-40b5-bac1-12bc43a51091,2 ma-na KÙ.BABBAR ší-im-tum ša ṭup-pí-šu ḫa-ar...,"2 minas of silver, the agreed amount of his ce..."
774,7ad105d4-158e-457d-955b-b9f6b68d212c,a-na ku-ku-a LUGAL-sú-in a-gi-a ù en-nam-a-šur...,"To Kukuwa, Šar-Suen, Agiya and Ennam-Aššur fro..."
1260,c9ae599d-8d56-4b81-be61-4a1edadc00b6,14 GÚ URUDU SIG₅ ša-bu-ra-am i-ṣé-er i-dí-a-šu...,"Iddin-Aššur son of Dan-Aššur, Puzur-Ištar, his..."
858,870b143f-9c29-499b-8c6e-c0ed2be5eea8,ṭup-pu-ú ša ni-iš a-lim(ki) ku-nu-uk ba-ší,Tablets with oaths by the City.

In [11]:
train_df["src_len"] = train_df["source"].astype(str).apply(lambda x: len(x.split()))
train_df["tgt_len"] = train_df["target"].astype(str).apply(lambda x: len(x.split()))

train_df[["src_len", "tgt_len"]].describe()

           src_len      tgt_len
count  1248.000000  1248.000000
mean     57.593750    91.329327
std      37.169598    88.071951
min       3.000000     1.000000
25%      28.000000    31.000000
50%      49.000000    68.000000
75%      83.000000   124.000000
max     187.000000   744.000000

In [12]:
from collections import Counter

def build_vocab(text_series):
    vocab = Counter()
    for sentence in text_series:
        vocab.update(sentence.split())
    return vocab

src_vocab = build_vocab(train_df["source"])
tgt_vocab = build_vocab(train_df["target"])

print("Akkadian vocabulary size:", len(src_vocab))
print("English vocabulary size:", len(tgt_vocab))

Akkadian vocabulary size: 10267
English vocabulary size: 9225

In [13]:
pd.DataFrame(src_vocab.most_common(20), columns=["Token", "Frequency"])

        Token  Frequency
0        a-na       3097
1          ša       2691
2   KÙ.BABBAR       2499
3           x       2285
4       ma-na       1965
5         GÍN       1487
6        DUMU       1470
7           ù       1457
8           …       1037
9        i-na        993
10      um-ma        959
11        IGI        901
12          1        828
13          ú        772
14         lá        746
15          2        531
16      URUDU        441
17      KIŠIB        409
18         lu        401
19      šu-ma        400

In [14]:
special_tokens = ["<gap>", "<big_gap>", "{ki}", "{d}", "{m}", "{uru}", "LUGAL"]

for tok in special_tokens:
    count = train_df["source"].str.contains(tok).sum()
    print(f"{tok}: {count} sentences")

<gap>: 0 sentences
<big_gap>: 0 sentences
{ki}: 0 sentences
{d}: 0 sentences
{m}: 0 sentences
{uru}: 0 sentences
LUGAL: 20 sentences

In [15]:
import re

# 1) Basic cleaning for Akkadian transliteration (source)
def clean_source(text: str) -> str:
    text = str(text)

    # normalize whitespace
    text = re.sub(r"\s+", " ", text).strip()

    # remove scribal certainty markers and line dividers
    text = text.replace("!", "").replace("?", "")
    text = text.replace("/", " ")

    # normalize common word dividers (keep hyphens; they matter in transliteration)
    text = text.replace(":", " ")
    text = text.replace(".", " ")

    # keep determinatives in curly braces: {ki}, {d}, etc. (they carry meaning)
    # remove square brackets but keep inside text: [KÙ.BABBAR] -> KÙ.BABBAR
    text = re.sub(r"\[([^\]]+)\]", r"\1", text)

    # remove half brackets ˹ ˺ if present
    text = text.replace("˹", "").replace("˺", "")

    # normalize whitespace again
    text = re.sub(r"\s+", " ", text).strip()

    return text


# 2) Basic cleaning for English translation (target)
def clean_target(text: str) -> str:
    text = str(text)

    # normalize whitespace
    text = re.sub(r"\s+", " ", text).strip()

    # optional: remove repeated spaces and stray control chars
    text = text.replace("\u200b", "")

    return text

In [16]:
train_df["source_clean"] = train_df["source"].apply(clean_source)
train_df["target_clean"] = train_df["target"].apply(clean_target)

val_df["source_clean"] = val_df["source"].apply(clean_source)
val_df["target_clean"] = val_df["target"].apply(clean_target)

test_df["source_clean"] = test_df["source"].apply(clean_source)

train_df[["source", "source_clean", "target", "target_clean"]].head(5)

,source,source_clean,target,target_clean
1452,um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-...,um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-...,"Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiy...","Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiy..."
1239,2 ma-na KÙ.BABBAR ší-im-tum ša ṭup-pí-šu ḫa-ar...,2 ma-na KÙ BABBAR ší-im-tum ša ṭup-pí-šu ḫa-ar...,"2 minas of silver, the agreed amount of his ce...","2 minas of silver, the agreed amount of his ce..."
774,a-na ku-ku-a LUGAL-sú-in a-gi-a ù en-nam-a-šur...,a-na ku-ku-a LUGAL-sú-in a-gi-a ù en-nam-a-šur...,"To Kukuwa, Šar-Suen, Agiya and Ennam-Aššur fro...","To Kukuwa, Šar-Suen, Agiya and Ennam-Aššur fro..."
1260,14 GÚ URUDU SIG₅ ša-bu-ra-am i-ṣé-er i-dí-a-šu...,14 GÚ URUDU SIG₅ ša-bu-ra-am i-ṣé-er i-dí-a-šu...,"Iddin-Aššur son of Dan-Aššur, Puzur-Ištar, his...","Iddin-Aššur son of Dan-Aššur, Puzur-Ištar, his..."
858,ṭup-pu-ú ša ni-iš a-lim(ki) ku-nu-uk ba-ší,ṭup-pu-ú ša ni-iš a-lim(ki) ku-nu-uk ba-ší,Tablets with oaths by the City.,Tablets with oaths by the City.

In [17]:
print("Example BEFORE:", train_df["source"].iloc[0])
print("Example AFTER :", train_df["source_clean"].iloc[0])

print("Empty sources (train):", (train_df["source_clean"].str.len() == 0).sum())
print("Empty targets (train):", (train_df["target_clean"].str.len() == 0).sum())

Example BEFORE: um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-dí-a a-na e-lá-ma qí-bi₄-ma 4.33333 ma-na 2.5 GÍN KÙ.BABBAR dan-a-šur ub-lam 4.33333 GÍN ša-du-a-tám a-na dan-a-šur ni-dí-in 1.3333300000000001 GÍN té-ṣú-be né-pu-ul 11 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-tí KÙ.BABBAR-pì-kà 4 ma-na 5.83334 GÍN 17 ma-na 4 GÍN KÙ.BABBAR a-ni-nu-um ub-lam ŠÀ.BA 0.66666 ma-na 2.5 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-tí KÙ.BABBAR-pì-kà 16.33333 ma-na LÁ 0.5 GÍN ŠU.NÍGIN KÙ.BABBAR-pì-kà 20.33333 ma-na 5.5 GÍN 4 GÚ 20 ma-na AN.NA ku-nu-ku 15.33333 GÍN 15 ŠE.TA KÙ.BABBAR-áp-šu 17.83333 ma-na 2 GÍN 20 ma-na AN.NA-ak qá-tim 15 GÍN.TA 1.3333300000000001 ma-na KÙ.BABBAR 10 ku-ta-nu 0.66666 ma-na 6.5 GÍN it-bu-lu 8 šu-ru-tum ša li-wi-tim 0.33333 ma-na 8 GÍN KÙ.BABBAR-šu-nu 2 ANŠE.ḪI.A ṣa-lá-mu 0.66666 ma-na LÁ 4 GÍN KÙ.BABBAR-šu-nu 0.33333 ma-na 7 GÍN KÙ.BABBAR i ma-sá-im im-ṭí 0.5 ma-na KÙ.BABBAR be-ú-lá-at ma-ṣi-ì-lí 2 GÍN lu-bu-šu 1 GÍN KÙ.BABBAR
Example AFTER : um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-dí-a a-na e-lá-ma qí-bi₄-ma 4 33333 ma-na 2 5 GÍN KÙ BABBAR dan-a-šur ub-lam 4 33333 GÍN ša-du-a-tám a-na dan-a-šur ni-dí-in 1 3333300000000001 GÍN té-ṣú-be né-pu-ul 11 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-tí KÙ BABBAR-pì-kà 4 ma-na 5 83334 GÍN 17 ma-na 4 GÍN KÙ BABBAR a-ni-nu-um ub-lam ŠÀ BA 0 66666 ma-na 2 5 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-tí KÙ BABBAR-pì-kà 16 33333 ma-na LÁ 0 5 GÍN ŠU NÍGIN KÙ BABBAR-pì-kà 20 33333 ma-na 5 5 GÍN 4 GÚ 20 ma-na AN NA ku-nu-ku 15 33333 GÍN 15 ŠE TA KÙ BABBAR-áp-šu 17 83333 ma-na 2 GÍN 20 ma-na AN NA-ak qá-tim 15 GÍN TA 1 3333300000000001 ma-na KÙ BABBAR 10 ku-ta-nu 0 66666 ma-na 6 5 GÍN it-bu-lu 8 šu-ru-tum ša li-wi-tim 0 33333 ma-na 8 GÍN KÙ BABBAR-šu-nu 2 ANŠE ḪI A ṣa-lá-mu 0 66666 ma-na LÁ 4 GÍN KÙ BABBAR-šu-nu 0 33333 ma-na 7 GÍN KÙ BABBAR i ma-sá-im im-ṭí 0 5 ma-na KÙ BABBAR be-ú-lá-at ma-ṣi-ì-lí 2 GÍN lu-bu-šu 1 GÍN KÙ BABBAR
Empty sources (train): 0
Empty targets (train): 0

In [18]:
from transformers import AutoTokenizer

MODEL_NAME = "Helsinki-NLP/opus-mt-en-de"  # placeholder tokenizer base (we only use tokenizer behavior)
tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME)

e:\Computational Intelligence\CIS6005_DeepPast_Akkadian_Translator\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
e:\Computational Intelligence\CIS6005_DeepPast_Akkadian_Translator\.venv\Lib\site-packages\huggingface_hub\file_download.py:130: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\navod_09089\.cache\huggingface\hub\models--Helsinki-NLP--opus-mt-en-de. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Warning: You are sending unauthenticated requests to the HF Hub. Please set a HF_TOKEN to enable higher rate limits and faster downloads.
e:\Computational Intelligence\CIS6005_DeepPast_Akkadian_Translator\.venv\Lib\site-packages\transformers\models\marian\tokenization_marian.py:176: UserWarning: Recommended: pip install sacremoses.
  warnings.warn("Recommended: pip install sacremoses.")

In [19]:
MAX_SOURCE_LEN = 128
MAX_TARGET_LEN = 128

In [21]:
def encode_batch(sources, targets=None):
    model_inputs = tokenizer(
        list(sources),
        max_length=MAX_SOURCE_LEN,
        truncation=True,
        padding="max_length"
    )
    if targets is not None:
        labels = tokenizer(
            list(targets),
            max_length=MAX_TARGET_LEN,
            truncation=True,
            padding="max_length"
        )
        model_inputs["labels"] = labels["input_ids"]
    return model_inputs

train_enc = encode_batch(train_df["source_clean"], train_df["target_clean"])
val_enc   = encode_batch(val_df["source_clean"], val_df["target_clean"])
test_enc  = encode_batch(test_df["source_clean"])

In [22]:
print("input_ids shape:", len(train_enc["input_ids"]), len(train_enc["input_ids"][0]))
print("labels shape:", len(train_enc["labels"]), len(train_enc["labels"][0]))

input_ids shape: 1248 128
labels shape: 1248 128

In [25]:
i = 0
print("SOURCE CLEAN:", train_df["source_clean"].iloc[i])
print("TOKENIZED ->", train_enc["input_ids"][i][:30])
print("DECODED ->", tokenizer.decode(train_enc["input_ids"][i], skip_special_tokens=True))

print("\nTARGET CLEAN:", train_df["target_clean"].iloc[i])
print("DECODED LABELS ->", tokenizer.decode(train_enc["labels"][i], skip_special_tokens=True))

SOURCE CLEAN: um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-dí-a a-na e-lá-ma qí-bi₄-ma 4 33333 ma-na 2 5 GÍN KÙ BABBAR dan-a-šur ub-lam 4 33333 GÍN ša-du-a-tám a-na dan-a-šur ni-dí-in 1 3333300000000001 GÍN té-ṣú-be né-pu-ul 11 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-tí KÙ BABBAR-pì-kà 4 ma-na 5 83334 GÍN 17 ma-na 4 GÍN KÙ BABBAR a-ni-nu-um ub-lam ŠÀ BA 0 66666 ma-na 2 5 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-tí KÙ BABBAR-pì-kà 16 33333 ma-na LÁ 0 5 GÍN ŠU NÍGIN KÙ BABBAR-pì-kà 20 33333 ma-na 5 5 GÍN 4 GÚ 20 ma-na AN NA ku-nu-ku 15 33333 GÍN 15 ŠE TA KÙ BABBAR-áp-šu 17 83333 ma-na 2 GÍN 20 ma-na AN NA-ak qá-tim 15 GÍN TA 1 3333300000000001 ma-na KÙ BABBAR 10 ku-ta-nu 0 66666 ma-na 6 5 GÍN it-bu-lu 8 šu-ru-tum ša li-wi-tim 0 33333 ma-na 8 GÍN KÙ BABBAR-šu-nu 2 ANŠE ḪI A ṣa-lá-mu 0 66666 ma-na LÁ 4 GÍN KÙ BABBAR-šu-nu 0 33333 ma-na 7 GÍN KÙ BABBAR i ma-sá-im im-ṭí 0 5 ma-na KÙ BABBAR be-ú-lá-at ma-ṣi-ì-lí 2 GÍN lu-bu-šu 1 GÍN KÙ BABBAR
TOKENIZED -> [91, 13, 790, 787, 13, 1043, 13, 111, 13, 790, 14, 13, 6087, 705, 13, 135, 13, 48935, 3486, 2026, 13, 565, 90, 13, 111, 13, 6087, 705, 17, 37956]
DECODED -> um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-dí-a a-na e-lá-ma qí-bi4-ma 4 33333 ma-na 2 5 GÍN KÙ BABBAR dan-a-šur ub-lam 4 33333 GÍN ša-du-a-tám a-na dan-a-šur ni-dí-in 1 3333300000000001 GÍN té-ṣú-

TARGET CLEAN: Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiya, say to Elamma: 4.3333 minas 2.5 shekels of silver Dān-Aššur brought. We gave 4.3333 shekels as transport fee to Dān-Aššur, paid 1.3333 shekel as addition and 11 gave as excise, so that of your silver there remain 4 minas 5.83333? shekels. 17 minas and 4 shekels of silver Anīnum brought here. Thereof we paid 42.5 shekels as excise. There remain of your silver 16 minas 19.5 shekels. The total of your silver amounts to 20 [minas 25.3333 shekels. 4 talents 20 minas of tin under seals, at a rate of 15 5 / 12 shekels : 1 the silver for it was 17 minas 52 shekels. 20 minas tin for expenses, at a rate of 15 shekels : 1 makes 1.3333 mina of silver. 10 -textiles cost 46.5 shekels (of silver); 8 dark textiles for wrapping, their price in silver 28 shekels; 2 black donkeys cost 40 [minus 4?] [shekels of silver. 27? shekels of silver loss due to washing (the silver); 0.5 [mina of silver], the working capital of Maṣi-ilī; 2 shekels his clothing allowance; 1 shekel the cost of ... ; 10 1 / 8 shekels the export tax. When checking 3 shekels of silver proved to be missing; 3.5 shekels the harness of the donkeys; 1 shekel fodder for the donkeys. To supplement (the costs of) the donkey-loads we added 58.83333 shekels of silver from that of the barley. All this Dān-Aššur has led to you.""
DECODED LABELS -> Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiya, say to Elamma: 4.3333 minas 2.5 shekels of silver Dān-Aššur brought. We gave 4.3333 shekels as transport fee to Dān-Aššur, paid 1.3333 shekel as addition and 11 gave as excise, so that of your silver there remain 4 minas 5.83333? shekels. 17 minas and 4 shekels of silver Anīnum brought here. Thereof we paid

In [26]:
# Token counts (word counts) from cleaned data
train_df["src_len_clean"] = train_df["source_clean"].astype(str).apply(lambda x: len(x.split()))
train_df["tgt_len_clean"] = train_df["target_clean"].astype(str).apply(lambda x: len(x.split()))

train_df[["src_len_clean","tgt_len_clean"]].quantile([0.50, 0.75, 0.90, 0.95, 0.99])

      src_len_clean  tgt_len_clean
0.50          54.00          68.00
0.75          91.25         124.00
0.90         123.00         189.00
0.95         137.00         250.00
0.99         167.00         476.18

In [27]:
MAX_SOURCE_LEN = 160
MAX_TARGET_LEN = 256

In [28]:
train_enc = encode_batch(train_df["source_clean"], train_df["target_clean"])
val_enc   = encode_batch(val_df["source_clean"], val_df["target_clean"])
test_enc  = encode_batch(test_df["source_clean"])

In [29]:
i = 0
print("DECODED SOURCE:", tokenizer.decode(train_enc["input_ids"][i], skip_special_tokens=True))
print("\nDECODED TARGET:", tokenizer.decode(train_enc["labels"][i], skip_special_tokens=True))

DECODED SOURCE: um-ma i-li-a-ma a-šur-re-ṣí en-nam-a-šur ù da-dí-a a-na e-lá-ma qí-bi4-ma 4 33333 ma-na 2 5 GÍN KÙ BABBAR dan-a-šur ub-lam 4 33333 GÍN ša-du-a-tám a-na dan-a-šur ni-dí-in 1 3333300000000001 GÍN té-ṣú-be né-pu-ul 11 GÍN a-na ni-is-ḫa-tim ni-dí-in ší-

DECODED TARGET: Thus Iliya, Aššur-rēṣī, Ennam-Aššur, and Dadiya, say to Elamma: 4.3333 minas 2.5 shekels of silver Dān-Aššur brought. We gave 4.3333 shekels as transport fee to Dān-Aššur, paid 1.3333 shekel as addition and 11 gave as excise, so that of your silver there remain 4 minas 5.83333? shekels. 17 minas and 4 shekels of silver Anīnum brought here. Thereof we paid 42.5 shekels as excise. There remain of your silver 16 minas 19.5 shekels. The total of your silver amounts to 20 [minas 25.3333 shekels. 4 talents 20 minas of tin under seals, at a rate of 15 5 / 12 shekels : 1 the silver for it was 17 minas 52 shekels. 20 minas tin for expenses, at a rate of 15 shekels : 1 makes 1.3333 mina of silver. 10 -textiles cost 46.5 shekels (of silver); 8 dark textiles for wrapping, their price in silver

In [30]:
import torch
from transformers import T5ForConditionalGeneration, T5TokenizerFast

MODEL_NAME = "t5-small"

tokenizer = T5TokenizerFast.from_pretrained(MODEL_NAME)
model = T5ForConditionalGeneration.from_pretrained(MODEL_NAME)

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model = model.to(device)

device

e:\Computational Intelligence\CIS6005_DeepPast_Akkadian_Translator\.venv\Lib\site-packages\huggingface_hub\file_download.py:130: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\navod_09089\.cache\huggingface\hub\models--t5-small. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Loading weights: 100%|██████████| 131/131 [00:00<00:00, 336.19it/s, Materializing param=shared.weight]

device(type='cpu')

In [31]:
def add_prefix(text):
    return "translate Akkadian to English: " + text

In [32]:
train_sources = train_df["source_clean"].apply(add_prefix)
val_sources   = val_df["source_clean"].apply(add_prefix)
test_sources  = test_df["source_clean"].apply(add_prefix)

In [33]:
MAX_SOURCE_LEN = 160
MAX_TARGET_LEN = 256

def encode_t5(sources, targets=None):
    inputs = tokenizer(
        list(sources),
        max_length=MAX_SOURCE_LEN,
        truncation=True,
        padding="max_length",
        return_tensors="pt"
    )
    if targets is not None:
        labels = tokenizer(
            list(targets),
            max_length=MAX_TARGET_LEN,
            truncation=True,
            padding="max_length",
            return_tensors="pt"
        )
        inputs["labels"] = labels["input_ids"]
    return inputs

train_enc = encode_t5(train_sources, train_df["target_clean"])
val_enc   = encode_t5(val_sources, val_df["target_clean"])

In [34]:
from torch.utils.data import Dataset, DataLoader

class TranslationDataset(Dataset):
    def __init__(self, encodings):
        self.encodings = encodings

    def __len__(self):
        return self.encodings["input_ids"].shape[0]

    def __getitem__(self, idx):
        return {key: val[idx] for key, val in self.encodings.items()}

train_dataset = TranslationDataset(train_enc)
val_dataset   = TranslationDataset(val_enc)

train_loader = DataLoader(train_dataset, batch_size=4, shuffle=True)
val_loader   = DataLoader(val_dataset, batch_size=4)

In [35]:
from torch.optim import AdamW
from tqdm import tqdm

optimizer = AdamW(model.parameters(), lr=5e-5)

EPOCHS = 2  # baseline (enough for coursework)

for epoch in range(EPOCHS):
    model.train()
    total_train_loss = 0

    for batch in tqdm(train_loader, desc=f"Training Epoch {epoch+1}"):
        optimizer.zero_grad()

        input_ids = batch["input_ids"].to(device)
        attention_mask = batch["attention_mask"].to(device)
        labels = batch["labels"].to(device)

        outputs = model(
            input_ids=input_ids,
            attention_mask=attention_mask,
            labels=labels
        )

        loss = outputs.loss
        loss.backward()
        optimizer.step()

        total_train_loss += loss.item()

    avg_train_loss = total_train_loss / len(train_loader)

    # Validation
    model.eval()
    total_val_loss = 0
    with torch.no_grad():
        for batch in val_loader:
            input_ids = batch["input_ids"].to(device)
            attention_mask = batch["attention_mask"].to(device)
            labels = batch["labels"].to(device)

            outputs = model(
                input_ids=input_ids,
                attention_mask=attention_mask,
                labels=labels
            )
            total_val_loss += outputs.loss.item()

    avg_val_loss = total_val_loss / len(val_loader)

    print(f"Epoch {epoch+1} | Train Loss: {avg_train_loss:.4f} | Val Loss: {avg_val_loss:.4f}")

Training Epoch 1: 100%|██████████| 312/312 [26:36<00:00,  5.12s/it]

Epoch 1 | Train Loss: 2.9143 | Val Loss: 2.1323

Training Epoch 2: 100%|██████████| 312/312 [47:36<00:00,  9.16s/it]

Epoch 2 | Train Loss: 2.1213 | Val Loss: 1.8874

In [36]:
import numpy as np

def generate_texts(sources, max_new_tokens=128, num_beams=4):
    model.eval()
    preds = []
    with torch.no_grad():
        for s in sources:
            enc = tokenizer(
                s,
                max_length=MAX_SOURCE_LEN,
                truncation=True,
                padding="max_length",
                return_tensors="pt"
            ).to(device)

            out_ids = model.generate(
                **enc,
                max_new_tokens=max_new_tokens,
                num_beams=num_beams,
                early_stopping=True
            )

            preds.append(tokenizer.decode(out_ids[0], skip_special_tokens=True))
    return preds

# Use a small validation subset
N = 100
val_sources_subset = val_sources.iloc[:N].tolist()
val_targets_subset = val_df["target_clean"].iloc[:N].tolist()

val_preds_subset = generate_texts(val_sources_subset)

# Preview a few
for i in range(3):
    print("SOURCE:", val_sources_subset[i][:120], "...")
    print("TRUE  :", val_targets_subset[i][:200], "...")
    print("PRED  :", val_preds_subset[i][:200], "...")
    print("-"*80)

SOURCE: translate Akkadian to English: 10 ma-na KÙ BABBAR ṣa-ru-pu-um ni-is-ḫa-sú DIRI ša-du-a-sú ša-bu ša tám-kà-ri-im a-na i-l ...
TRUE  : 10 minas of refined silver, its excise added, his transport fee paid, belonging to the merchant, for Iliya and the representatives of Lā-qēp, and separately 0.3333 mina of silver from Iliya's free loa ...
PRED  :  ...
--------------------------------------------------------------------------------
SOURCE: translate Akkadian to English: 2-ší-ta na-áš-pé-ra-tum lá pá-tí-a-tum ša a-ta-ta DUMU ma-num-ba-lum-a-šùr a-ṣé-ri-a ú a- ...
TRUE  : 2 (unopened) letters of Atata, son of Mannum-balum-Assur, addressed to me and to Assur-ennam, son of Kubiya; two (unopened) letters of our father to Belum-bani, son of Su-Belum; a tablet (with the sea ...
PRED  :  ...
--------------------------------------------------------------------------------
SOURCE: translate Akkadian to English: KIŠIB en-na-nim DUMU a-lá-bi₄-im KIŠIB a-gi-a DUMU PUZUR₄-a-šùr (d)IM GAL DUMU bu-zi tap- ...
TRUE  : Sealed by Ennānum son of Ali-abum, by Agiya son of Puzur-Aššur; Adad-rabi son of Buzi was our (absent) partner. The Kanesh colony gave us for these proceedings and we gave a tablet with our testimony  ...
PRED  :  ...
--------------------------------------------------------------------------------

In [37]:
import sacrebleu

bleu = sacrebleu.corpus_bleu(val_preds_subset, [val_targets_subset]).score
chrf = sacrebleu.corpus_chrf(val_preds_subset, [val_targets_subset]).score

geom_mean = (bleu * chrf) ** 0.5

print(f"BLEU: {bleu:.2f}")
print(f"chrF++: {chrf:.2f}")
print(f"Geometric Mean (BLEU * chrF++)^0.5: {geom_mean:.2f}")

BLEU: 0.00
chrF++: 0.00
Geometric Mean (BLEU * chrF++)^0.5: 0.00

In [38]:
import os

SAVE_DIR = "../outputs/models/t5_baseline"
os.makedirs(SAVE_DIR, exist_ok=True)

model.save_pretrained(SAVE_DIR)
tokenizer.save_pretrained(SAVE_DIR)

print("Saved model to:", SAVE_DIR)

Writing model shards: 100%|██████████| 1/1 [00:00<00:00,  3.50it/s]

Saved model to: ../outputs/models/t5_baseline

In [39]:
def translate_akkadian(text, max_new_tokens=128, num_beams=4):
    text = clean_source(text)
    text = add_prefix(text)

    enc = tokenizer(
        text,
        max_length=MAX_SOURCE_LEN,
        truncation=True,
        padding="max_length",
        return_tensors="pt"
    ).to(device)

    out_ids = model.generate(
        **enc,
        max_new_tokens=max_new_tokens,
        num_beams=num_beams,
        early_stopping=True
    )

    return tokenizer.decode(out_ids[0], skip_special_tokens=True)

# Test with one example from your dataset
print(translate_akkadian(train_df["source"].iloc[0]))

In [43]:
print(model is not None, tokenizer is not None)

True True

In [45]:
# Sanity check: confirm critical variables exist
for name in ["test_df", "tokenizer", "model", "device"]:
    print(name, "->", "OK" if name in globals() else "MISSING")

# If test_df exists, show its shape
if "test_df" in globals():
    print("test_df rows:", len(test_df))
    print("test_df cols:", test_df.columns.tolist())

test_df -> OK
tokenizer -> OK
model -> OK
device -> OK
test_df rows: 4
test_df cols: ['id', 'text_id', 'line_start', 'line_end', 'source', 'source_clean']

In [46]:
import torch

def add_prefix(text: str) -> str:
    return "translate Akkadian to English: " + text

MAX_SOURCE_LEN = 160
MAX_NEW_TOKENS = 128
BATCH_SIZE = 16
NUM_BEAMS = 4

texts = (
    test_df["source_clean"]
    .astype(str)
    .apply(add_prefix)
    .tolist()
)

preds = []

for i in range(0, len(texts), BATCH_SIZE):
    batch = texts[i:i+BATCH_SIZE]

    enc = tokenizer(
        batch,
        max_length=MAX_SOURCE_LEN,
        truncation=True,
        padding=True,
        return_tensors="pt"
    ).to(device)

    with torch.no_grad():
        out_ids = model.generate(
            **enc,
            max_new_tokens=MAX_NEW_TOKENS,
            num_beams=NUM_BEAMS,
            early_stopping=True
        )

    preds.extend(tokenizer.batch_decode(out_ids, skip_special_tokens=True))

print("✅ Predictions generated:", len(preds))
print("🔍 Sample prediction:", preds[0][:200])

✅ Predictions generated: 4
🔍 Sample prediction:

In [47]:
import pandas as pd
import os

submission = pd.DataFrame({
    "id": test_df["id"],
    "translation": preds
})

submission.to_csv("submission.csv", index=False)

print("File exists:", os.path.exists("submission.csv"))
print("Rows:", len(submission))
print("File size:", os.path.getsize("submission.csv"), "bytes")

submission

File exists: True
Rows: 4
File size: 32 bytes

   id translation
0   0
1   1
2   2
3   3

In [48]:
import pandas as pd
import os

submission = pd.DataFrame({
    "id": test_df["id"],
    "translation": preds
})

submission.to_csv("submission.csv", index=False)

print("✅ submission.csv created")
print("File exists:", os.path.exists("submission.csv"))
print("Rows:", len(submission))
print("File size:", os.path.getsize("submission.csv"), "bytes")

submission

✅ submission.csv created
File exists: True
Rows: 4
File size: 32 bytes

   id translation
0   0
1   1
2   2
3   3